@import "tailwindcss";
@plugin "daisyui" {
	themes: cupcake --default;
}

@font-face {
  font-family: 'Excalifont'; /* Choose a descriptive name for your font */
  src: url('./assets/fonts/Excalifont-Regular.woff2') format('woff2'); /* Specify the path and format */
  font-weight: normal; /* Define the font weight (e.g., normal, bold, 400, 700) */
  font-style: normal; /* Define the font style (e.g., normal, italic) */
}

:root {
  font-family: Excalifont;
}
